body {
  background-color: black !important;
  background-image: url("../images/wallpaperflare.com_wallpaper.jpg") !important;
  color: black;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
}

#close-btn:hover {
  color: red;
}

#root {
  margin-bottom: 5vh;
  max-width: 80vw;
  margin: auto;
}

header{
    padding-bottom: 5vh;
}

.MuiPagination-ul > li > button {
  color: white;
}

@font-face {
  font-family: marsBold;
  src: url("../fonts/Mars/Mars-Bold.ttf") format("truetype");
}

@font-face {
  font-family: marsThin;
  src: url("../fonts/Mars/Mars-Thin.ttf") format("truetype");
}

.mars-bold {
  font-family: marsBold;
}

.mars-thin {
  font-family: marsThin;
}

@media (max-width: 800px) {
  .tab-Panel-Class > div > p > ul {
    column-count: 1 !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  #home-grid {
    display: block !important;
  }

  #home-grid > div,
  #home-grid > div > div > div {
    max-width: 100% !important;
    width: 80vw
  }
}

.MuiCardHeader-title {
  font-family: marsBold !important;
}

.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
  flex-wrap: wrap;
}

.MuiStack-root.css-1xhypcz-MuiStack-root {
  overflow: visible;
}

span.MuiTabs-indicator {
  display: none !important;
}

button.Mui-selected {
  text-decoration: underline;
  font-weight: bold;
}

div.MuiBox-root.css-18m5ng9 {
  margin: 0;
  padding: 16px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

button.MuiTab-root[aria-selected = 'true']{
  border-bottom: 2px solid red !important;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1000px) {
li.MuiImageListItem-root{
  grid-column-end: span 2 !important;
}
}